* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
}

header, .head {
    color: rgb(255, 255, 255);
    background-color: rgba(79, 123, 245, 0.918);
}

.head {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

div {
    padding-top: 1rem;
}

header, .head, input, li {
    font-weight: 300;
}

input[type="text"]:focus {
    background-color: yellow;
}

label {
    padding-top: 0.5rem;
}

input {
    padding: 0.5rem;
    text-align: center
}

li:nth-child(odd) {
    background-color: rgba(19, 10, 143, 0.13)
}

li {
    padding: 1rem;
}

.delete {
    position: absolute;
    right: 1rem;
    color: black;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.25rem;
}

.delete:hover {
    background-color: red;
}

.time {
    font-size: 0.75rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}