* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: whitesmoke;
}

h1, form, p {
    padding: 1rem;
}

input[type="text"],input[type="button"] {
    width: 10rem;
    font-size: 1rem;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#addBtn {
    color: rgb(249,249,249);
    background-color: rgb(92,184,92);
}

#delBtn {
    color: rgb(249,249,249);
    background-color: rgb(217,83,79);
}

li {
    height: 2rem;
    padding: 1rem;
}

li:nth-child(odd) {
    background-color: lightblue;
}

ul li.chosen {
    background-color: yellow;
    font-style: italic;
}
